// Fuentes
$fuente_principal: 'Oswald', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #4831D4;
$secundario: #CCF381; 
$final: #3D155F;
$negro: #000;
$blanco: #FFFFFF;
$grisClaro: #eceeef;

$separacion: 5rem;
