@use 'base/mixins' as m;
@use 'base/variables' as v;

.favoritos {

    display: block;
    
    @include m.tablet {
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    background-color: v.$grisClaro;
    padding: v.$separacion 0;

    &__heading {
        text-align: center;
        color: v.$secundario;
    }
}