@use 'base/mixins' as m;
@use 'base/variables' as v;


.favorito {
    background-color: v.$blanco;
    padding: 10rem;
    margin-bottom: 2rem;
    box-shadow: (0px 0px 2.6rem -.8rem darken(v.$grisClaro, 15%));
    border-radius: .5rem;

    &__contenido {
        display: block;

        @include m.tablet {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
        }
    }

    &__nombre {
        color: v.$primario;
        font-size: 4rem;
        text-align: center;
        
        @include m.tablet {
            font-size: 5rem;
            text-align: left;
        }
    }

    &__descripcion {
        margin: 2rem .5rem;
        text-align: center;
        font-size: 2rem;
        color: v.$final;
        line-height: 1.5;

        @include m.tablet {
            text-align: left;
        }
    }

    &__boton {
        @include m.boton(v.$final, v.$primario)
    }
}