@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    background-color: v.$final;
    padding-top: v.$separacion;

    &__grid {
        @include m.tablet { 
            @include m.grid(3, 1rem);
        }
    }
    &__widget {
        margin-bottom: v.$separacion;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__heading {
        color: v.$grisClaro;
        margin: 0;
        font-weight: 300;
        text-align: center;
        @include m.tablet { 
            text-align:left;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }
    &__nav,
    &__texto {
        margin-top: 2rem;
    }

    &__link,
    &__texto {
        font-size: 2rem;
        line-height: 1.8;
        font-weight: 300;
        color: v.$secundario;
        text-align: center;
        @include m.tablet { 
            text-align: left;
        }
    }

    &__copyright {

        border-top: 2px solid v.$secundario;
        display: flex;
        justify-content: space-around;
        background-color: v.$final;
        margin: 0;
        color: v.$secundario;
        text-align: center;
        padding: 2rem;
    }

}