@use 'base/variables' as v;
@use 'base/mixins' as m;


.testimonial {
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    color: v.$blanco;

    @include m.tablet {
        &:last-of-type {
            margin-top: 18rem;
        }
    }

    &__header {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__imagen {
        flex-basis: 10rem;
        border-radius: 50%;
        // Oculta lo que tiene el div, por lo que si redondea la imagen
        overflow: hidden;
    }

    &__autor {
        color: v.$primario;
        font-weight: 700;
        font-size: 6rem;
        margin: v.$separacion;
    }

    &__texto {
        color: v.$primario;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 2rem 0;
        padding-left: 4rem;

        // &::before {
        //     content: ' " ';
        //     font-size: 10rem;
        //     position: absolute;
        //     left: 0;
        //     top: -4rem;
        //     opacity: .2;
        //     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        // }
    }
}